{% extends "registration/registration_base.html" %}

{% block content %}
    <div class="mb-5">
        <h1 class="text-4xl font-bold text-black">Password reset successful</h1>
        <p class="text-lg text-black">Your password has been set. You may now log in.</p>
    </div>

    <div class="w-full text-center mt-10">
        <a href="{% url 'login' %}" class="w-full text-white bg-black font-bold rounded-lg px-5 py-2.5 text-center
        hover:bg-neutral-700 focus:ring focus:ring-primary focus:ring-opacity-25 duration-200">
            Log in
        </a>
    </div>
{% endblock content %}