{% extends "body.html" %}

{% load timedelta_extras %}

{% block content %}
    <main class="w-full grow my-10 flex flex-col items-center">
        {% if existing_exercises %}
            <div class="font-sans text-xs md:text-sm text-center mb-12">
                <h3 class="uppercase font-semibold">
                    Current Exercises for {{ workout.name }}
                </h3>
                {% for workout_exercise in existing_exercises %}
                    <ul>
                        <li>
                            <b>{{ workout_exercise.order|add:1 }}.</b>
                            {{ workout_exercise.set_set.count }} sets of {{ workout_exercise.exercise.name }}
                        </li>
                    </ul>
                {% endfor %}
            </div>
        {% endif %}
        <form method="post" class="font-sans w-full md:w-2/3 lg:w-1/3">
            {% csrf_token %}
            <div class="form-group">
                {% for field in exercise_form %}
                    <div>
                        <label for="{{ field.id_for_label }}" class="form-label">
                            {% if field.name == "order" %}Order in Workout{% else %}{{ field.label }}{% endif %}
                        </label>
                        <div class="form-field">
                            {% if field.name == 'exercise' %}
                                <select id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-select">
                                    {% for value, label in field.field.choices %}
                                        <option value="{{ value }}" {% if field.value == value %}selected{% endif %}>
                                            {{ label }}
                                        </option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                <input type="{{ field.widget_type }}" placeholder="{{ field.label }}"
                                       id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-input"
                                       {% if field.value != None %}value="{{ field.value }}"{% endif %}>
                            {% endif %}
                        </div>
                        <div class="form-error">{{ field.errors }}</div>
                    </div>
                {% endfor %}

                <div class="formset-group">
                    {{ set_formset.management_form }}
                    <div id="formset-container" class="formset-group">
                        {% for form in set_formset %}
                            <div class="formset-form flex-col gap-y-2">
                                <hr>
                                <h3 class="form-label text-right">Set #{{ forloop.counter }}</h3>
                                {% for field in form %}
                                    <div>
                                        {% if field.widget_type != "hidden" %}
                                        <label for="{{ field.id_for_label }}" class="form-label">
                                            {{ field.label }}
                                        </label>
                                        {% endif %}
                                        {% if field.widget_type == "checkbox" %}
                                            <input type="checkbox" class="form-checkbox" name="{{ field.html_name }}"
                                                   id="{{ field.id_for_label }}"
                                                   {% if field.initial %}checked{% endif %}>
                                            {{ choice.choice_label }}
                                        {% elif field.name == "weight_level" %}
                                            <select id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-select">
                                                {% for value, label in field.field.choices %}
                                                    <option value="{{ value }}" {% if field.value == value %}selected{% endif %}>
                                                        {{ label }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        {% else %}
                                            <input type="{{ field.widget_type }}" placeholder="{{ field.label }}"
                                                   id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-input"
                                                   {% if field.value %}value="{{ field.value }}"{% endif %}>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                        {% endfor %}
                    </div>
                    <div class="formset-button-container">
                        <button type="button" id="add-form" class="formset-button">Add Set
                        </button>
                    </div>
                </div>
            </div>

            {% for error in workout_plan_form.non_field_errors %}
                {{ error|escape }}
            {% endfor %}

            <div class="form-button-container flex gap-x-2">
                <button type="submit" name="submit_and_add_another" class="form-button">
                    Submit and Add Another
                </button>
                <button type="submit" name="submit_and_exit" class="form-button">
                    Submit and Exit
                </button>
            </div>
        </form>
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const formsetContainer = document.querySelector('#formset-container');
            const addButton = document.querySelector('#add-form');

            let totalForms = document.querySelector('#id_set_set-TOTAL_FORMS');
            let formsetForm = document.querySelectorAll('.formset-form');

            let formNum = formsetForm.length - 1;

            addButton.addEventListener('click', (e) => {
                e.preventDefault()

                const newForm = formsetForm[0].cloneNode(true);

                const formsetPrefix = 'set_set';
                const formRegex = new RegExp(`${formsetPrefix}-(\\d+)-`, 'g');


                formNum++
                newForm.innerHTML = newForm.innerHTML.replace(formRegex, `${formsetPrefix}-${formNum}-`);

                newForm.querySelectorAll('input, select, textarea').forEach(input => {
                    if (input.name) {
                        input.name = input.name.replace(formRegex, `${formsetPrefix}-${formNum}-`);
                    }
                    if (input.id) {
                        input.id = input.id.replace(formRegex, `${formsetPrefix}-${formNum}-`);
                    }
                    if (input.type === 'checkbox') {
                        input.checked = false;
                    } else {
                        input.value = ''; // Clear input values
                    }
                });

                newForm.querySelectorAll('h3').forEach(label => {
                    label.innerHTML = label.innerHTML.replace(/#\d+/, `#${formNum + 1}`);
                });

                formsetContainer.appendChild(newForm);

                totalForms.value = formNum + 1;
            });
        });
    </script>
{% endblock content %}
