{% extends "body.html" %}

{% load dict_extras %}

{% block content %}
    <form method="post" action="{% url 'workout' workout.slug %}"
          class="flex flex-col items-center justify-center my-10 gap-y-10">
                {% csrf_token %}
                {{ form.as_p }}
                {% for workout_exercise in workout.workoutexercise_set.all %}
                    <div class="md:w-3/5 lg:w-2/5 md:min-w-96 min-w-0 w-full rounded overflow-hidden shadow-lg font-sans
                    dark:bg-neutral-800">
                        {% if workout_exercise.exercise.video_url %}
                            <div class="aspect-w-16 aspect-h-9">
                                <iframe class="w-full h-full" src="{{ workout_exercise.exercise.video_url }};controls=0"
                                        title="YouTube video player" allow="accelerometer; clipboard-write;
                                        encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin" >
                                </iframe>
                            </div>
                        {% elif workout_exercise.exercise.thumbnail %}
                        <div class="max-h-64 overflow-hidden">
                            <img class="w-full"
                                 src="{{ workout_exercise.exercise.thumbnail.image_file.url }}"
                                 alt="{{ workout_exercise.exercise.thumbnail.name }}">
                        </div>
                        {% endif %}
                        <div class="px-6 py-4 flex flex-col gap-y-5">
                            <div>
                                <h2 class="font-bold text-2xl">{{ workout_exercise.exercise.name }}</h2>
                                <div class="flex gap-y-2 mb-2">
                                    {% for category in workout_exercise.exercise.categories.all  %}
                                        <p class="bg-primary text-white px-2 py-1 rounded-full text-xs">
                                            {{ category }}
                                        </p>
                                    {% endfor %}
                                </div>
                                <p>{{ workout_exercise.exercise.description }}</p>
                                <div class="text-neutral-500 dark:text-neutral-300 text-base">
                                    <div class="flex justify-between items-center">
                                        <h3 class="font-bold">Instructions:</h3>
                                        <div class="flex items-center justify-center w-8 h-8 text-center text-white
                                        font-bold rounded-full bg-primary cursor-pointer opacity-50
                                        hover:opacity-100 focus:opacity-100 duration-500"
                                        id="expand-instructions-{{ workout_exercise.id }}">
                                            <i id="expand-{{ workout_exercise.id }}-icon" class="fa-solid fa-chevron-down"></i>
                                        </div>
                                    </div>
                                    <ol id="instructions-text-{{ workout_exercise.id }}" class="hidden list-decimal ml-5">
                                        {% for instruction in workout_exercise.exercise.instructions %}
                                            <li>{{ instruction }}</li>
                                        {% endfor %}
                                    </ol>
                                    <script>
                                        $('#expand-instructions-{{ workout_exercise.id }}').click(function() {
                                            $('#instructions-text-{{ workout_exercise.id }}').slideToggle(200)
                                            $('#expand-{{ workout_exercise.id }}-icon').toggleClass('fa-chevron-down')
                                            $('#expand-{{ workout_exercise.id }}-icon').toggleClass('fa-chevron-up')
                                        })
                                    </script>
                                </div>
                            </div>
                            {% if workout_exercise.set_set.exists %}
                                <hr>
                                <div class="grid grid-cols-5 justify-items-center items-center gap-y-3">
                                    <div class="font-bold text-primary underline">
                                        Set
                                    </div>
                                    <div class="font-bold text-primary underline">
                                        Weight
                                    </div>
                                    <div class="font-bold text-primary underline">
                                        Aim
                                    </div>
                                    <div class="font-bold text-primary underline col-span-2">
                                        Completed
                                    </div>
                                    {% for set in workout_exercise.set_set.all %}
                                        <div class="font-bold text-sm">
                                            <p>{{ set.order }}</p>
                                        </div>
                                        <div class="text-sm">
                                            {% if set.weight_level == "UN" %}
                                                <p>—</p>
                                            {% else %}
                                                <p>{{ set.get_weight_level_display }}</p>
                                            {% endif %}
                                        </div>
                                        <div class="text-sm">
                                            {% if set.time %}
                                                <p>{{ set.time }}</p>
                                            {% elif set.reps %}
                                                <p>{{ set.reps }} reps</p>
                                            {% elif set.until_failure %}
                                                <p>Until Failure</p>
                                            {% endif %}
                                        </div>
                                        <div class="col-span-2 flex flex-col sm:flex-row gap-x-3">
                                            <label>
                                                <input type="number" name="{{ workout_exercise.id }}-{{ set.order }}-reps"
                                                       required placeholder="reps"
                                                       class="text-sm block w-20 rounded-md border-gray-300 shadow-sm
                                                       focus:border-primary focus:ring focus:ring-primary
                                                       focus:ring-opacity-25 dark:bg-neutral-900">
                                            </label>
                                            <label>
                                                <input type="number" name="{{ workout_exercise.id }}-{{ set.order }}-weight"
                                                       required placeholder="kg"
                                                       class="text-sm block w-20 rounded-md border-gray-300 shadow-sm
                                                       focus:border-primary focus:ring focus:ring-primary
                                                       focus:ring-opacity-25 dark:bg-neutral-900">
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="w-full text-right">
                                <button class="open-history-{{ workout_exercise.exercise.id }}" type="button">
                                    <span class="text-xs text-primary underline">See exercise history</span>
                                </button>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>Sorry, no exercises have been assigned to this workout.</p>
                {% endfor %}
        <div class="flex gap-x-5">
            <button type="submit" class="text-white bg-primary font-bold rounded-lg text-lg px-5 py-2.5 text-center
            hover:brightness-95 focus:ring focus:ring-primary focus:ring-opacity-25">Complete Session</button>
            <a href="../" class="text-white bg-neutral-500 font-bold rounded-lg text-lg px-5 py-2.5 text-center
            hover:brightness-95 focus:ring focus:ring-neutral-500 focus:ring-opacity-25">Cancel</a>
        </div>
    </form>

    {% for exercise in workout.exercises.distinct %}
        <div id="history-{{ exercise.id }}"
             class="hidden fixed inset-0 bg-black bg-opacity-50 items-center justify-center z-50 font-sans">
            <div class="bg-white p-6 rounded-lg w-96 h-96 relative flex flex-col">
                <div>
                    <button
                        id="close-history-{{ exercise.id }}"
                        class="text-gray-500 hover:text-gray-800 duration-200 float-right">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                    <h2 class="font-bold text-2xl">{{ exercise.name }}</h2>
                    <h3 class="font-bold text-neutral-500 dark:text-neutral-300">Your History</h3>
                </div>
                <div class="mt-4 pr-2 flex-1 overflow-y-auto">
                    {% if exercise.id in exercise_histories %}
                        {% for session_exercise in exercise_histories|keyvalue:exercise.id %}
                            <div>
                                {% include "fitness/partials/session_exercise_sets.html" with session_exercise=session_exercise %}
                                {% if not forloop.last %}
                                    <hr class="my-4" />
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% else %}
                        You have no recorded history for this exercise.
                    {% endif %}
                </div>
            </div>
        </div>

        <script>
            // Get elements
            const openBtns = document.getElementsByClassName("open-history-{{ exercise.id }}");
            const modal = document.getElementById("history-{{ exercise.id }}");
            const closeBtn = document.getElementById("close-history-{{ exercise.id }}");

            // Open modal
            Array.from(openBtns).forEach(btn => {
                btn.addEventListener("click", () => {
                    modal.classList.remove("hidden");
                    modal.classList.add("flex");
                });
            });

            // Close modal
            closeBtn.onclick = function() {
                modal.classList.add("hidden");
                modal.classList.remove("flex");
            }

            // Close modal when clicking outside
            window.onclick = function(event) {
                if (event.target === modal) {
                    modal.classList.add("hidden");
                    modal.classList.remove("flex");
                }
            }
        </script>
    {% endfor %}
{% endblock content %}
